# Plot Description Based Recommender

In [1]:
import pandas as pd
import numpy as np

#Import data from the clean file 
df = pd.read_csv('../data/metadata_clean.csv')

#Print the head of the cleaned DataFrame
df.head()

,title,genres,runtime,vote_average,vote_count,year
0,Toy Story,"['animation', 'comedy', 'family']",81.0,7.7,5415.0,1995
1,Jumanji,"['adventure', 'fantasy', 'family']",104.0,6.9,2413.0,1995
2,Grumpier Old Men,"['romance', 'comedy']",101.0,6.5,92.0,1995
3,Waiting to Exhale,"['comedy', 'drama', 'romance']",127.0,6.1,34.0,1995
4,Father of the Bride Part II,['comedy'],106.0,5.7,173.0,1995

In [24]:
#Import the original file
orig_df = pd.read_csv('../data/movies_metadata.csv', low_memory=False)

#Add the useful features into the cleaned dataframe
df['overview'], df['id'] = orig_df['overview'], orig_df['id']

df.head()

,title,genres,runtime,vote_average,vote_count,year,overview,id
0,Toy Story,"['animation', 'comedy', 'family']",81.0,7.7,5415.0,1995,"Led by Woody, Andy's toys live happily in his ...",862
1,Jumanji,"['adventure', 'fantasy', 'family']",104.0,6.9,2413.0,1995,When siblings Judy and Peter discover an encha...,8844
2,Grumpier Old Men,"['romance', 'comedy']",101.0,6.5,92.0,1995,A family wedding reignites the ancient feud be...,15602
3,Waiting to Exhale,"['comedy', 'drama', 'romance']",127.0,6.1,34.0,1995,"Cheated on, mistreated and stepped on, the wom...",31357
4,Father of the Bride Part II,['comedy'],106.0,5.7,173.0,1995,Just when George Banks has recovered from his ...,11862

In [25]:
df.shape

(45466, 8)

In [14]:
md = df.drop([19730, 29503, 35587])

In [15]:
#Check EDA Notebook for how and why I got these indices.
md['id'] = md['id'].astype('int')

In [35]:
links_small = pd.read_csv('../data/links_small.csv')
links_small = links_small[links_small['tmdbId'].notnull()]['tmdbId'].astype('int')

smd['overview'] = smd['overview'].fillna('')

/tmp/ipykernel_1134747/2393300538.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  smd['overview'] = smd['overview'].fillna('')

In [36]:
smd = md[md['id'].isin(links_small)]
smd.shape

(9099, 8)

In [37]:
smd.head()

,title,genres,runtime,vote_average,vote_count,year,overview,id
0,Toy Story,"['animation', 'comedy', 'family']",81.0,7.7,5415.0,1995,"Led by Woody, Andy's toys live happily in his ...",862
1,Jumanji,"['adventure', 'fantasy', 'family']",104.0,6.9,2413.0,1995,When siblings Judy and Peter discover an encha...,8844
2,Grumpier Old Men,"['romance', 'comedy']",101.0,6.5,92.0,1995,A family wedding reignites the ancient feud be...,15602
3,Waiting to Exhale,"['comedy', 'drama', 'romance']",127.0,6.1,34.0,1995,"Cheated on, mistreated and stepped on, the wom...",31357
4,Father of the Bride Part II,['comedy'],106.0,5.7,173.0,1995,Just when George Banks has recovered from his ...,11862

In [38]:
 print(smd.shape)

(9099, 8)

In [43]:
smd['overview']

0        Led by Woody, Andy's toys live happily in his ...
1        When siblings Judy and Peter discover an encha...
2        A family wedding reignites the ancient feud be...
3        Cheated on, mistreated and stepped on, the wom...
4        Just when George Banks has recovered from his ...
                               ...
40224    From the mind behind Evangelion comes a hit la...
40503    The band stormed Europe in 1963, and, in 1964,...
44821    When Molly Hale's sadness of her father's disa...
44826    All your favorite Pokémon characters are back,...
45265    While holidaying in the French Alps, a Swedish...
Name: overview, Length: 9099, dtype: object

In [45]:
#Import TfIdfVectorizer from the scikit-learn library
from sklearn.feature_extraction.text import TfidfVectorizer

#Define a TF-IDF Vectorizer Object. Remove all english stopwords
tfidf = TfidfVectorizer(analyzer='word',ngram_range=(1, 2),min_df=0, stop_words='english')

#Construct the required TF-IDF matrix by applying the fit_transform method on the overview feature
tfidf_matrix = tfidf.fit_transform(smd['overview'].values.astype('U'))

#Output the shape of tfidf_matrix
tfidf_matrix.shape

(9099, 244199)

In [46]:
# Import linear_kernel to compute the dot product
from sklearn.metrics.pairwise import linear_kernel

# Compute the cosine similarity matrix
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

In [48]:
cosine_sim.shape, cosine_sim[0]

((9099, 9099),
 array([1.        , 0.00743034, 0.        , ..., 0.        , 0.00345908,
        0.        ]))

In [49]:
smd = smd.reset_index()
titles = smd['title']
indices = pd.Series(smd.index, index=smd['title'])

In [50]:
indices

title
Toy Story                                                0
Jumanji                                                  1
Grumpier Old Men                                         2
Waiting to Exhale                                        3
Father of the Bride Part II                              4
                                                      ...
Shin Godzilla                                         9094
The Beatles: Eight Days a Week - The Touring Years    9095
Pokémon: Spell of the Unknown                         9096
Pokémon 4Ever: Celebi - Voice of the Forest           9097
Force Majeure                                         9098
Length: 9099, dtype: int64

In [51]:
# Function that takes in movie title as input and gives recommendations 
def content_recommender(title, cosine_sim=cosine_sim, df=df, indices=indices):
    # Obtain the index of the movie that matches the title
    idx = indices[title]

    # Get the pairwsie similarity scores of all movies with that movie
    # And convert it into a list of tuples as described above
    sim_scores = list(enumerate(cosine_sim[idx]))

    # Sort the movies based on the cosine similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    # Get the scores of the 10 most similar movies. Ignore the first movie.
    sim_scores = sim_scores[1:11]

    # Get the movie indices
    movie_indices = [i[0] for i in sim_scores]

    # Return the top 10 most similar movies
    return df['title'].iloc[movie_indices]

In [52]:
indices['The Lion King']

328

In [53]:
cosine_sim[328]

array([0.        , 0.        , 0.        , ..., 0.00856915, 0.        ,
       0.        ])

In [54]:
sorted(list(enumerate(cosine_sim[328])), key=lambda x: x[1], reverse=True)

[(328, 0.9999999999999999),
 (7775, 0.09374238778722918),
 (4519, 0.08884210591251399),
 (8921, 0.08539616579345602),
 (5870, 0.07004024504775837),
 (2717, 0.04879122802325697),
 (4765, 0.04828580859358299),
 (41, 0.042691584348308095),
 (1747, 0.0421498898598296),
 (4975, 0.04174421000009641),
 (7063, 0.04157353531044407),
 (737, 0.04127169957390288),
 (4417, 0.04080033319301597),
 (6216, 0.038533185509082225),
 (7987, 0.037971588079156286),
 (4623, 0.03762218784095703),
 (7051, 0.03668925587592217),
 (1681, 0.03654863206597347),
 (1449, 0.035434337216181874),
 (2923, 0.03501426114710362),
 (1873, 0.034875569685019384),
 (102, 0.03482170166989208),
 (9088, 0.034599316633324),
 (1275, 0.03390735319092246),
 (466, 0.033545178802460496),
 (1459, 0.03314051974206471),
 (7650, 0.03278870432082658),
 (4859, 0.03278429230430646),
 (602, 0.03270270793161375),
 (3096, 0.032621036118733904),
 (6938, 0.03224620474750893),
 (2469, 0.031353673142172106),
 (5836, 0.031353673142172106),
 (5731, 0.03119065786822155),
 (6143, 0.030914944811625916),
 (5360, 0.030270302552572056),
 (6605, 0.03004256726896739),
 (7862, 0.029564975980782896),
 (564, 0.029545693474684283),
 (2535, 0.02897844873386851),
 (4279, 0.028855121903370078),
 (475, 0.028811275387781294),
 (3663, 0.028752203051640376),
 (6608, 0.028418887836715763),
 (6627, 0.02820605161747717),
 (2761, 0.02818888790371041),
 (3408, 0.028120837257339673),
 (8470, 0.02796621268314716),
 (6046, 0.027923926319391737),
 (2532, 0.027826183396000424),
 (8483, 0.027807853463857352),
 (8024, 0.027512421407028666),
 (3949, 0.02743833258227049),
 (6678, 0.02724731223577604),
 (2297, 0.027209002902325946),
 (1960, 0.027176937078285657),
 (4451, 0.027002672160968987),
 (911, 0.026924853161627814),
 (3591, 0.026793486005084372),
 (4769, 0.026382036478051908),
 (4414, 0.026252280700280257),
 (2878, 0.025966654079117506),
 (6690, 0.02583846672084859),
 (7984, 0.025471414528500155),
 (5485, 0.025054277007993703),
 (1732, 0.02492646493132175),
 (6141, 0.024904729062660683),
 (955, 0.024869183113431382),
 (3896, 0.024784227556928107),
 (4552, 0.02467903358528788),
 (4281, 0.02465772304393049),
 (5936, 0.024638447678500597),
 (1586, 0.02430970921059183),
 (4947, 0.024267671996847727),
 (2230, 0.02411096889285535),
 (6528, 0.024000223551377094),
 (1872, 0.02399884696824227),
 (1903, 0.02377533893720778),
 (2971, 0.02366768924344028),
 (3363, 0.023619039288952943),
 (2949, 0.02355107679729072),
 (5355, 0.02355093835021596),
 (322, 0.02336185886439473),
 (1142, 0.023226504354949194),
 (1508, 0.023084580681227932),
 (1811, 0.022958356827673793),
 (3966, 0.022934214502261664),
 (6832, 0.022880220431912283),
 (4775, 0.022815884640106223),
 (4827, 0.022527498233495098),
 (4049, 0.02251144661151503),
 (6751, 0.02245583866026008),
 (6045, 0.02230986314986316),
 (1544, 0.022305495120104567),
 (3216, 0.021343686113890765),
 (176, 0.021326963971014315),
 (3937, 0.021160533824779344),
 (976, 0.021047581073815425),
 (8042, 0.021024543213825315),
 (1796, 0.020968029606830245),
 (1868, 0.02081935823316791),
 (7953, 0.02079561248260418),
 (6680, 0.020782401831903934),
 (7135, 0.020745943881671693),
 (7939, 0.020744934228580286),
 (5689, 0.0206767539838438),
 (6131, 0.020631044156230908),
 (5196, 0.020554381877053128),
 (6578, 0.0205467031102573),
 (3572, 0.020390754958379984),
 (7694, 0.020323190078976917),
 (8117, 0.020302156272518954),
 (4943, 0.020300255878442957),
 (1656, 0.020271984773214),
 (29, 0.02023564661933454),
 (4572, 0.02020836496422624),
 (495, 0.020205551719099282),
 (6293, 0.0201365717159719),
 (2418, 0.020102121630140052),
 (552, 0.020052030552827126),
 (7184, 0.02002144155039701),
 (5365, 0.019696623605356102),
 (6716, 0.01968612563462031),
 (1412, 0.019588383247972085),
 (7915, 0.019555539500198407),
 (846, 0.01954358594980074),
 (270, 0.019471046717797334),
 (170, 0.01941451899282061),
 (2203, 0.019401196274514032),
 (7654, 0.019306407215341232),
 (6919, 0.019284118262622392),
 (1501, 0.019240913599931058),
 (7160, 0.019228041342514057),
 (8175, 0.019200244212842835),
 (7671, 0.019139313208474465),
 (784, 0.019073990268492685),
 (4973, 0.019026875844448822),
 (4970, 0.019018231723771067),
 (2209, 0.018921567156746602),
 (8468, 0.01886872545384899),
 (3154, 0.018800740922582562),
 (7368, 0.01874824975230417),
 (5205, 0.01874220221447904),
 (2048, 0.018688282806570755),
 (1591, 0.01864248314584101),
 (2671, 0.018628799569356928),
 (7850, 0.018587760980002394),
 (8261, 0.018536257632594394),
 (4354, 0.01849998790038171),
 (8029, 0.018436301829602323),
 (8753, 0.01843439188244261),
 (2437, 0.01843031466837822),
 (3138, 0.018362410841405344),
 (1601, 0.018360449626453924),
 (3865, 0.018342936577628803),
 (6414, 0.018321370730778764),
 (2382, 0.01831334871474985),
 (7546, 0.018297489421380243),
 (6170, 0.018284152339244606),
 (707, 0.018165899691351982),
 (6066, 0.018126091485056686),
 (4486, 0.018105660707792626),
 (1513, 0.018086493374330218),
 (491, 0.01793679269671764),
 (2553, 0.01792251881057511),
 (7912, 0.017919124489364405),
 (1713, 0.01754503116822181),
 (1545, 0.017473930118201857),
 (4309, 0.017343253551928825),
 (7400, 0.01733969416379384),
 (834, 0.0173329446504922),
 (4809, 0.01732636334100545),
 (392, 0.017316848191673374),
 (5361, 0.017284443229690225),
 (8687, 0.017279904547296072),
 (2530, 0.017271862422446188),
 (723, 0.017270355213870353),
 (862, 0.017249564758534952),
 (230, 0.01723302816288462),
 (4180, 0.017034996325653785),
 (5614, 0.016960751818569045),
 (6715, 0.016840897849279363),
 (2772, 0.016838974439434048),
 (604, 0.016731553884325626),
 (4493, 0.016641012843356947),
 (3492, 0.01659476245683056),
 (2962, 0.016524794518066058),
 (5298, 0.016496831929463326),
 (3938, 0.016457893393248157),
 (8428, 0.016453765643869807),
 (2245, 0.01643451548826822),
 (215, 0.01639811612230066),
 (7909, 0.016184452076889944),
 (1777, 0.016118486460792093),
 (4791, 0.01609408086278556),
 (693, 0.016081769495875222),
 (6571, 0.016049639086045665),
 (2525, 0.016015242963299824),
 (3717, 0.015864165747855402),
 (8185, 0.015852374696897636),
 (8190, 0.015771721252389383),
 (3970, 0.015694506422413282),
 (7796, 0.015664708207449737),
 (2033, 0.01563094492362332),
 (6718, 0.01561414085373998),
 (5723, 0.015558046711935112),
 (2863, 0.015494731642279316),
 (4402, 0.015450255733285786),
 (357, 0.015447730029261766),
 (166, 0.015439978760887473),
 (3890, 0.015379341193444605),
 (7244, 0.01537255072572832),
 (8064, 0.015349184958305577),
 (1314, 0.015346462804651953),
 (7800, 0.015333396814940784),
 (2620, 0.015330056499725499),
 (7273, 0.015322129697465655),
 (3084, 0.015307914557265292),
 (3983, 0.015263093307191777),
 (8258, 0.015233643955914589),
 (6222, 0.015221757250710684),
 (4375, 0.015219522520070108),
 (8610, 0.015206460580505468),
 (3748, 0.015182348423120865),
 (5700, 0.015182348423120865),
 (3693, 0.015173366748254185),
 (3283, 0.01513972062801716),
 (1021, 0.015062191471214112),
 (5565, 0.01504598752855003),
 (3499, 0.015021095911853955),
 (8902, 0.014958899455515068),
 (4030, 0.014916832124648378),
 (589, 0.014913353755954139),
 (4431, 0.014855573659549235),
 (8257, 0.014815659896094693),
 (23, 0.01472994048997579),
 (1428, 0.014680517240158664),
 (708, 0.014630401769945569),
 (1810, 0.014590567908421498),
 (5685, 0.01457654406095872),
 (514, 0.01456461507147805),
 (8329, 0.014564305464506083),
 (5446, 0.014472636357081915),
 (1696, 0.014470349698191262),
 (4503, 0.014426299546342707),
 (4509, 0.014350324062900151),
 (1484, 0.014347419995792988),
 (3204, 0.014342579823031505),
 (3816, 0.01431253861349685),
 (8738, 0.014306369980589987),
 (558, 0.014282001298738425),
 (5628, 0.01424052429407607),
 (5448, 0.014207601989691362),
 (7710, 0.01419924799591454),
 (6067, 0.01418909024851684),
 (4484, 0.014141987161139973),
 (1555, 0.014099109509236178),
 (3130, 0.014069342420583842),
 (7643, 0.014034256616160264),
 (3829, 0.014020023737314313),
 (2376, 0.01392362306744864),
 (5402, 0.01391859979206009),
 (6364, 0.013883456018617017),
 (8322, 0.013858065069339908),
 (3785, 0.013857378889248491),
 (2902, 0.013856905506530128),
 (14, 0.013855543068593518),
 (7272, 0.01384380671415326),
 (7864, 0.013670368006347779),
 (2682, 0.013665170712811906),
 (583, 0.013608092349624469),
 (6755, 0.013584524770548152),
 (299, 0.013472834797359718),
 (3806, 0.013434136878525071),
 (2839, 0.013426900022954276),
 (2227, 0.013410469775570477),
 (5164, 0.013385610592236589),
 (3555, 0.013373863445741485),
 (934, 0.013311712369005135),
 (7312, 0.013299869136244235),
 (344, 0.013210242439621924),
 (1940, 0.013208370517491692),
 (8227, 0.013181476668912218),
 (354, 0.013166666414958993),
 (6353, 0.013160778657012854),
 (6401, 0.01315581208899286),
 (827, 0.013134408111131528),
 (7164, 0.013118122372889136),
 (2398, 0.013104943931601627),
 (858, 0.013101135356286302),
 (8850, 0.013077318091951154),
 (4265, 0.013033822401931721),
 (2433, 0.012982666146816537),
 (1678, 0.012949394861532982),
 (3325, 0.012949110149109419),
 (8712, 0.012936793869925838),
 (3351, 0.012935928810972722),
 (8353, 0.012915016922260634),
 (6695, 0.012909469346856316),
 (1679, 0.012906732668708587),
 (2518, 0.012896142869502955),
 (7100, 0.012890946765476894),
 (6093, 0.012881572280934585),
 (7170, 0.012836492261324944),
 (1107, 0.01283155328946109),
 (5990, 0.012806283786714756),
 (8893, 0.012800347123995446),
 (8369, 0.012792651926979075),
 (3564, 0.012754352359850677),
 (6116, 0.012737623838520399),
 (1651, 0.012714293899037082),
 (7513, 0.012662259291537485),
 (3730, 0.012633308542204959),
 (1329, 0.012618128946882808),
 (7613, 0.012613567989886195),
 (5849, 0.012610751257977278),
 (8550, 0.012536339266680584),
 (1356, 0.012524693119563115),
 (7339, 0.012518807421138669),
 (154, 0.012506706593218616),
 (4442, 0.012479032663550263),
 (1256, 0.012468486287317164),
 (6881, 0.012465754612193614),
 (8489, 0.012454149672756222),
 (603, 0.01243291817420026),
 (488, 0.012389372366769947),
 (4178, 0.01238778832468131),
 (6309, 0.012383084587750082),
 (1756, 0.01237829438783586),
 (248, 0.012366107724834055),
 (7827, 0.012334335623374035),
 (7795, 0.01230770099800368),
 (7151, 0.012292468092066512),
 (2399, 0.012280888467144159),
 (5309, 0.012261303914422646),
 (5740, 0.012252158777315447),
 (1564, 0.012245532345268081),
 (3227, 0.012227892196475326),
 (2625, 0.01221155070479675),
 (986, 0.01218185406423917),
 (3330, 0.012170076037032698),
 (2936, 0.012157977151722375),
 (7197, 0.01214738824472409),
 (1526, 0.012145912029406444),
 (1243, 0.012142278875442575),
 (4136, 0.01213849339837094),
 (8832, 0.01210944762213006),
 (5918, 0.012070838034575147),
 (106, 0.012038234529370044),
 (2486, 0.012035572744529311),
 (4858, 0.011997973680292703),
 (6640, 0.011923243498892814),
 (5100, 0.011907714773606796),
 (3703, 0.01182294626746158),
 (2901, 0.011807760096530113),
 (7055, 0.01179519456828002),
 (180, 0.011734998210213498),
 (8809, 0.011711875744288993),
 (5148, 0.01168595969761673),
 (6872, 0.011665019893511076),
 (3920, 0.011664188556347476),
 (1401, 0.011640218901403813),
 (2342, 0.011638028166320317),
 (1006, 0.011626698048976605),
 (2495, 0.011621073972353298),
 (5822, 0.011609346897936999),
 (5401, 0.011590788665923637),
 (9055, 0.011579453308905092),
 (8080, 0.011577988078276312),
 (5580, 0.011576580527693297),
 (1635, 0.011553171382785336),
 (2450, 0.01154726615508409),
 (2758, 0.011541100884807325),
 (303, 0.01153398579077674),
 (7539, 0.01152330935936013),
 (7390, 0.011521308026558534),
 (5186, 0.011504515534878116),
 (2932, 0.011499369832254473),
 (8312, 0.011485860218169434),
 (147, 0.011453489635923166),
 (2009, 0.011419784549097237),
 (4441, 0.011405446031988108),
 (4143, 0.011394528990352829),
 (8084, 0.011362496573145087),
 (5862, 0.01132824487376399),
 (3794, 0.011299134634992844),
 (2406, 0.01128577013714683),
 (8081, 0.01127875585933646),
 (1042, 0.011254074999771489),
 (8313, 0.01124523521197133),
 (580, 0.011237226862510991),
 (1051, 0.011232829938767605),
 (6182, 0.011231055528744436),
 (6855, 0.011229537170642364),
 (6598, 0.011219837147160417),
 (262, 0.011179834991437624),
 (6148, 0.011163810129658414),
 (1936, 0.011152965536379834),
 (885, 0.011151616062438752),
 (831, 0.011151421320319141),
 (3561, 0.011145827470300199),
 (9073, 0.011094855251406814),
 (3899, 0.011090678034047787),
 (3230, 0.011073570628052263),
 (6374, 0.01103014211864284),
 (8206, 0.01100918532688273),
 (2576, 0.010974761392893764),
 (3387, 0.010962569667154061),
 (1261, 0.01096207660881656),
 (1249, 0.01094054367058218),
 (5383, 0.010934290941507264),
 (810, 0.01093332293861794),
 (1536, 0.01091397395524435),
 (3410, 0.01089962176974823),
 (7993, 0.01089569777752821),
 (6701, 0.010879546969112783),
 (3958, 0.010864750896801846),
 (7529, 0.010863771755433679),
 (501, 0.010842358053487036),
 (5924, 0.01083537394453065),
 (7315, 0.010821799209281422),
 (1800, 0.010806465285487437),
 (294, 0.010804404128645763),
 (1824, 0.01079501639310904),
 (4459, 0.010793498684286798),
 (9065, 0.010770935640354973),
 (3048, 0.010763083381584165),
 (6438, 0.01075340310594885),
 (330, 0.010745197409861216),
 (770, 0.010704907825480258),
 (6010, 0.010693609871205169),
 (5717, 0.010680653820867686),
 (8317, 0.010671266832638221),
 (8471, 0.010668628669360669),
 (6321, 0.010633393656887058),
 (1921, 0.010632947783682888),
 (7997, 0.010621257279314397),
 (5461, 0.010608738929717225),
 (8158, 0.010601473464076246),
 (2084, 0.010593524904456657),
 (5026, 0.010589481510765922),
 (5115, 0.01058669939417469),
 (3898, 0.010573929045160656),
 (6607, 0.010537764414564813),
 (2522, 0.010518759927023596),
 (2389, 0.010510824810371702),
 (7791, 0.010497316697250013),
 (4563, 0.01047812832876279),
 (6936, 0.010476918899892699),
 (6825, 0.01044231564518693),
 (3357, 0.010430256150581477),
 (5177, 0.01040275083449309),
 (494, 0.010354572819035325),
 (702, 0.01033893549747146),
 (7382, 0.010304556548225466),
 (7958, 0.010287597200613036),
 (6029, 0.010279807622417295),
 (2913, 0.010257073837648026),
 (2534, 0.010251750651768643),
 (7180, 0.010240496052071191),
 (5346, 0.010224247261697733),
 (1041, 0.010218150586859993),
 (8748, 0.010182192460350722),
 (8429, 0.010157808408281867),
 (4154, 0.010156476874859861),
 (1676, 0.010095649990608314),
 (5627, 0.010091838159890777),
 (62, 0.010085719988557779),
 (8049, 0.010079031057024642),
 (8658, 0.01007847532047321),
 (4868, 0.010062434203408062),
 (2228, 0.010058175343449428),
 (1562, 0.010044701856754221),
 (6038, 0.010037022334915139),
 (83, 0.010023553421675982),
 (5363, 0.010018798776287294),
 (7149, 0.010008218138120108),
 (8066, 0.010007265118736152),
 (3697, 0.010002384765512656),
 (7069, 0.010002364968021198),
 (950, 0.009993691668199117),
 (5092, 0.009978335380763448),
 (8554, 0.009971740729252738),
 (6824, 0.009955338039156601),
 (455, 0.0099288566528732),
 (464, 0.009926456469309878),
 (1874, 0.00992636540710167),
 (7418, 0.009903478114243771),
 (3954, 0.009899336167034716),
 (5351, 0.009898786093521949),
 (231, 0.00987244074745023),
 (4615, 0.009838123769968414),
 (1044, 0.009828717647625242),
 (1780, 0.009825473708615657),
 (353, 0.00982103149938839),
 (2158, 0.009812075035900779),
 (4574, 0.009811350803287785),
 (8071, 0.00980760687009848),
 (1215, 0.009804760049428558),
 (4824, 0.009795223952822295),
 (7007, 0.009792279589032341),
 (5724, 0.009775848758082809),
 (4157, 0.009760278092864776),
 (3510, 0.009744355304159591),
 (361, 0.00974015597975013),
 (1935, 0.009718779774684487),
 (6924, 0.0096951216901154),
 (1443, 0.009686253727413977),
 (1487, 0.009683626571808514),
 (7404, 0.009679606791995901),
 (5702, 0.009661048541369),
 (8563, 0.009655147733072422),
 (2997, 0.009642469354115573),
 (1638, 0.009633608045276128),
 (4500, 0.009629701025576545),
 (2468, 0.009619908713864733),
 (2999, 0.009598601977091965),
 (2616, 0.009564149831735317),
 (617, 0.009561720017214668),
 (2417, 0.009539772139588419),
 (5987, 0.009513295976598106),
 (7658, 0.009508323893166309),
 (5529, 0.009496699029959144),
 (2309, 0.009473337153892423),
 (1195, 0.00947117457986202),
 (5590, 0.009464593671241502),
 (4454, 0.009459267200387027),
 (2325, 0.00945425810112638),
 (864, 0.009445090410194855),
 (6929, 0.009378547296434636),
 (1863, 0.009353255614251064),
 (2089, 0.009332120368537046),
 (4097, 0.009298786492543752),
 (6629, 0.009285335001680287),
 (1201, 0.009243534071240437),
 (2889, 0.009228969014013348),
 (4025, 0.009226197505235416),
 (8996, 0.009226197505235416),
 (2146, 0.009224821282412123),
 (8503, 0.009210026107635657),
 (2956, 0.009186488794343294),
 (1327, 0.009174985239439534),
 (192, 0.009153451878632023),
 (3012, 0.009146108843964237),
 (8128, 0.009144649875967945),
 (4040, 0.009112397978166788),
 (4268, 0.009107272570527618),
 (7823, 0.00910446549046338),
 (643, 0.009103511963176405),
 (4590, 0.009074370660942768),
 (4533, 0.00907236521593676),
 (1531, 0.009072043291995688),
 (2550, 0.009066245364053703),
 (2861, 0.009059972492735643),
 (6491, 0.009058079394651681),
 (6990, 0.009039914830119334),
 (5404, 0.009020792609716171),
 (6837, 0.009011889279272128),
 (3495, 0.008995247618717306),
 (7284, 0.008980326421437578),
 (3178, 0.008973871334966887),
 (4229, 0.00897256353496004),
 (8304, 0.00895170875586772),
 (8083, 0.008931589135997215),
 (4779, 0.008922160429510578),
 (2845, 0.00891863234720549),
 (7230, 0.008907494988412992),
 (6448, 0.008902706920477031),
 (8092, 0.008901175000158457),
 (5956, 0.008896934875079514),
 (7219, 0.008896227742754706),
 (6375, 0.008880027806894725),
 (7907, 0.008879689100650288),
 (3413, 0.008857084902844588),
 (8758, 0.008850102380378769),
 (5132, 0.00884863003061232),
 (8311, 0.008839399227086753),
 (3830, 0.008838084431041613),
 (2968, 0.00883700468555048),
 (6956, 0.008816601614269162),
 (4750, 0.008814657043599282),
 (7969, 0.008808610969945384),
 (7758, 0.00879043576784806),
 (2770, 0.00878998509641503),
 (3544, 0.008789813331118456),
 (1685, 0.008786155978299801),
 (8249, 0.008775379576450599),
 (8405, 0.008758034044796881),
 (607, 0.00875470988024894),
 (8517, 0.008751131809915401),
 (2039, 0.008751109799448313),
 (4346, 0.00874068064208448),
 (5394, 0.00872726837570654),
 (4512, 0.008724877951376761),
 (8222, 0.008722775254814585),
 (2144, 0.008718336113849048),
 (990, 0.00870415432021249),
 (780, 0.008693270665154249),
 (8908, 0.00867679155917157),
 (8747, 0.008660876482360651),
 (493, 0.008658616868413455),
 (8318, 0.008653409794948875),
 (5009, 0.00862877343217803),
 (1477, 0.00862252401898918),
 (7512, 0.00861756018759303),
 (1167, 0.00861310769927993),
 (7714, 0.00859682900782502),
 (7667, 0.008593507449704024),
 (2285, 0.008585468654223294),
 (3695, 0.008578609179497073),
 (3373, 0.008569147737726933),
 (9096, 0.008569147737726933),
 (8726, 0.008553456244041201),
 (1697, 0.008551154625737056),
 (2642, 0.008548997205490547),
 (8105, 0.008548587596415495),
 (8571, 0.008541337540182244),
 (2248, 0.008540984626797669),
 (4676, 0.008521406336467315),
 (7033, 0.008518584844091202),
 (6495, 0.008506669467169343),
 (1228, 0.008503760966194384),
 (8078, 0.008502893176287045),
 (908, 0.008470893169581778),
 (3502, 0.00845127530605249),
 (1774, 0.008448719209560876),
 (4272, 0.008435098731251913),
 (5487, 0.008412374967865788),
 (851, 0.00838233669639246),
 (8922, 0.008361060157398431),
 (7787, 0.008359791446513444),
 (2259, 0.008359305154726548),
 (7323, 0.008352333778995245),
 (5564, 0.008350146036830403),
 (2869, 0.008348389956775181),
 (7037, 0.008340836050120289),
 (4734, 0.008331755249914917),
 (960, 0.008322675885518462),
 (2515, 0.008320984609350974),
 (8126, 0.008296322707978199),
 (3310, 0.008293809731772133),
 (2196, 0.00828680611470216),
 (815, 0.008283776038659367),
 (7557, 0.00828088694444625),
 (7023, 0.008280832826390786),
 (4356, 0.008274554863521591),
 (646, 0.00826753585663714),
 (7605, 0.008258564026377875),
 (5733, 0.008250081951533164),
 (4584, 0.008214953923631441),
 (2058, 0.008203376471307682),
 (4710, 0.008199420205215672),
 (598, 0.008197693608587608),

In [55]:
#Get recommendations for The Lion King
content_recommender('The Lion King')

7775      Blackboard Jungle
4519      The Monkey's Mask
8921        Split Decisions
5870                The Son
2717           The Lost Son
4765               The Wash
41          Dead Presidents
1747    Krippendorf's Tribe
4975             Crossroads
7063            High Sierra
Name: title, dtype: object

# Metadata Based Recommender

In [26]:
# Load the keywords and credits files
cred_df = pd.read_csv('../data/credits.csv')
key_df = pd.read_csv('../data/keywords.csv')

In [27]:
#Print the head of the credit dataframe
cred_df.head()

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862

In [28]:
#Print the head of the keywords dataframe
key_df.head()

      id                                           keywords
0    862  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
1   8844  [{'id': 10090, 'name': 'board game'}, {'id': 1...
2  15602  [{'id': 1495, 'name': 'fishing'}, {'id': 12392...
3  31357  [{'id': 818, 'name': 'based on novel'}, {'id':...
4  11862  [{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...

In [29]:
df[df['id']=='1997-08-20']

,title,genres,runtime,vote_average,vote_count,year,overview,id
19730,NaN,"['carousel productions', 'vision view entertai...",NaN,NaN,NaN,0,Released,1997-08-20

In [30]:
# Function to convert all non-integer IDs to NaN
def clean_ids(x):
    try:
        return int(x)
    except:
        return np.nan

In [13]:
#Clean the ids of df
df['id'] = df['id'].apply(clean_ids)

#Filter all rows that have a null ID
# nan 값을 삭제한다. 
df = df[df['id'].notnull()]

In [37]:
# Convert IDs into integer
df['id'] = df['id'].astype('int')
key_df['id'] = key_df['id'].astype('int')
cred_df['id'] = cred_df['id'].astype('int')

# Merge keywords and credits into your main metadata dataframe
df = df.merge(cred_df, on='id')
df = df.merge(key_df, on='id')

#Display the head of df
df.head()

/tmp/ipykernel_1112755/2304563750.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['id'] = df['id'].astype('int')

,title,genres,runtime,vote_average,vote_count,year,overview,id,cast,crew,keywords
0,Toy Story,"['animation', 'comedy', 'family']",81.0,7.7,5415.0,1995,"Led by Woody, Andy's toys live happily in his ...",862,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...","[{'id': 931, 'name': 'jealousy'}, {'id': 4290,..."
1,Jumanji,"['adventure', 'fantasy', 'family']",104.0,6.9,2413.0,1995,When siblings Judy and Peter discover an encha...,8844,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...","[{'id': 10090, 'name': 'board game'}, {'id': 1..."
2,Grumpier Old Men,"['romance', 'comedy']",101.0,6.5,92.0,1995,A family wedding reignites the ancient feud be...,15602,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...","[{'id': 1495, 'name': 'fishing'}, {'id': 12392..."
3,Waiting to Exhale,"['comedy', 'drama', 'romance']",127.0,6.1,34.0,1995,"Cheated on, mistreated and stepped on, the wom...",31357,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...","[{'id': 818, 'name': 'based on novel'}, {'id':..."
4,Father of the Bride Part II,['comedy'],106.0,5.7,173.0,1995,Just when George Banks has recovered from his ...,11862,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...","[{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n..."

In [38]:
# Convert the stringified objects into the native python objects
from ast import literal_eval

features = ['cast', 'crew', 'keywords', 'genres']
for feature in features:
    df[feature] = df[feature].apply(literal_eval)

In [40]:
#Print the first cast member of the first movie in df
df.iloc[0]['crew'][0]

{'credit_id': '52fe4284c3a36847f8024f49',
 'department': 'Directing',
 'gender': 2,
 'id': 7879,
 'job': 'Director',
 'name': 'John Lasseter',
 'profile_path': '/7EdqiNbr4FRjIhKHyPPdFfEEEFG.jpg'}

In [41]:
# Extract the director's name. If director is not listed, return NaN
def get_director(x):
    for crew_member in x:
        if crew_member['job'] == 'Director':
            return crew_member['name']
    return np.nan

In [42]:
#Define the new director feature
df['director'] = df['crew'].apply(get_director)

#Print the directors of the first five movies
df['director'].head()

0      John Lasseter
1       Joe Johnston
2      Howard Deutch
3    Forest Whitaker
4      Charles Shyer
Name: director, dtype: object

In [19]:
# Returns the list top 3 elements or entire list; whichever is more.
def generate_list(x):
    if isinstance(x, list):
        names = [i['name'] for i in x]
        #Check if more than 3 elements exist. If yes, return only first three. If no, return entire list.
        if len(names) > 3:
            names = names[:3]
        return names

    #Return empty list in case of missing/malformed data
    return []

In [20]:
#Apply the generate_list function to cast and keywords
df['cast'] = df['cast'].apply(generate_list)
df['keywords'] = df['keywords'].apply(generate_list)

In [21]:
#Only consider a maximum of 3 genres
df['genres'] = df['genres'].apply(lambda x: x[:3])

In [22]:
# Print the new features of the first 5 movies along with title
df[['title', 'cast', 'director', 'keywords', 'genres']].head()

,title,cast,director,keywords,genres
0,Toy Story,"[Tom Hanks, Tim Allen, Don Rickles]",John Lasseter,"[jealousy, toy, boy]","[animation, comedy, family]"
1,Jumanji,"[Robin Williams, Jonathan Hyde, Kirsten Dunst]",Joe Johnston,"[board game, disappearance, based on children'...","[adventure, fantasy, family]"
2,Grumpier Old Men,"[Walter Matthau, Jack Lemmon, Ann-Margret]",Howard Deutch,"[fishing, best friend, duringcreditsstinger]","[romance, comedy]"
3,Waiting to Exhale,"[Whitney Houston, Angela Bassett, Loretta Devine]",Forest Whitaker,"[based on novel, interracial relationship, sin...","[comedy, drama, romance]"
4,Father of the Bride Part II,"[Steve Martin, Diane Keaton, Martin Short]",Charles Shyer,"[baby, midlife crisis, confidence]",[comedy]

In [23]:
# Function to sanitize data to prevent ambiguity. It removes spaces and converts to lowercase
def sanitize(x):
    if isinstance(x, list):
        #Strip spaces and convert to lowercase
        return [str.lower(i.replace(" ", "")) for i in x]
    else:
        #Check if director exists. If not, return empty string
        if isinstance(x, str):
            return str.lower(x.replace(" ", ""))
        else:
            return ''

In [24]:
#Apply the generate_list function to cast, keywords, director and genres
for feature in ['cast', 'director', 'genres', 'keywords']:
    df[feature] = df[feature].apply(sanitize)

In [25]:
#Function that creates a soup out of the desired metadata
def create_soup(x):
    return ' '.join(x['keywords']) + ' ' + ' '.join(x['cast']) + ' ' + x['director'] + ' ' + ' '.join(x['genres'])

In [26]:
# Create the new soup feature
df['soup'] = df.apply(create_soup, axis=1)

In [27]:
#Display the soup of the first movie
df.iloc[0]['soup']

'jealousy toy boy tomhanks timallen donrickles johnlasseter animation comedy family'

In [28]:
# Import CountVectorizer
from sklearn.feature_extraction.text import CountVectorizer

#Define a new CountVectorizer object and create vectors for the soup
count = CountVectorizer(stop_words='english')
count_matrix = count.fit_transform(df['soup'])

In [29]:
#Import cosine_similarity function
from sklearn.metrics.pairwise import cosine_similarity

#Compute the cosine similarity score (equivalent to dot product for tf-idf vectors)
cosine_sim2 = cosine_similarity(count_matrix, count_matrix)

In [34]:
# Reset index of your df and construct reverse mapping again
df = df.reset_index()
indices2 = pd.Series(df.index, index=df['title'])

In [37]:
content_recommender('The Lion King', cosine_sim2, df, indices2)

29607                                          Cheburashka
40904                   VeggieTales: Josh and the Big Wall
40913    VeggieTales: Minnesota Cuke and the Search for...
27768                                 The Little Matchgirl
15209             Spiderman: The Ultimate Villain Showdown
16613                            Cirque du Soleil: Varekai
24654                                  The Seventh Brother
29198                                      Superstar Goofy
30244                                              My Love
31179                Pokémon: Arceus and the Jewel of Life
Name: title, dtype: object