# Plot Description Based Recommender

In [5]:
import pandas as pd
import numpy as np

#Import data from the clean file 
df = pd.read_csv('../data/metadata_clean.csv')

#Print the head of the cleaned DataFrame
df.head()

,title,genres,runtime,vote_average,vote_count,year
0,Toy Story,"['animation', 'comedy', 'family']",81.0,7.7,5415.0,1995
1,Jumanji,"['adventure', 'fantasy', 'family']",104.0,6.9,2413.0,1995
2,Grumpier Old Men,"['romance', 'comedy']",101.0,6.5,92.0,1995
3,Waiting to Exhale,"['comedy', 'drama', 'romance']",127.0,6.1,34.0,1995
4,Father of the Bride Part II,['comedy'],106.0,5.7,173.0,1995

In [6]:
#Import the original file
orig_df = pd.read_csv('../data/movies_metadata.csv', low_memory=False)

#Add the useful features into the cleaned dataframe
df['overview'], df['id'] = orig_df['overview'], orig_df['id']

df.head()

,title,genres,runtime,vote_average,vote_count,year,overview,id
0,Toy Story,"['animation', 'comedy', 'family']",81.0,7.7,5415.0,1995,"Led by Woody, Andy's toys live happily in his ...",862
1,Jumanji,"['adventure', 'fantasy', 'family']",104.0,6.9,2413.0,1995,When siblings Judy and Peter discover an encha...,8844
2,Grumpier Old Men,"['romance', 'comedy']",101.0,6.5,92.0,1995,A family wedding reignites the ancient feud be...,15602
3,Waiting to Exhale,"['comedy', 'drama', 'romance']",127.0,6.1,34.0,1995,"Cheated on, mistreated and stepped on, the wom...",31357
4,Father of the Bride Part II,['comedy'],106.0,5.7,173.0,1995,Just when George Banks has recovered from his ...,11862

In [7]:
#Import TfIdfVectorizer from the scikit-learn library
from sklearn.feature_extraction.text import TfidfVectorizer

#Define a TF-IDF Vectorizer Object. Remove all english stopwords
tfidf = TfidfVectorizer(stop_words='english')

#Replace NaN with an empty string
df['overview'] = df['overview'].fillna('')

#Construct the required TF-IDF matrix by applying the fit_transform method on the overview feature
tfidf_matrix = tfidf.fit_transform(df['overview'])

#Output the shape of tfidf_matrix
tfidf_matrix.shape

(45466, 75827)

In [8]:
# Import linear_kernel to compute the dot product
from sklearn.metrics.pairwise import linear_kernel

# Compute the cosine similarity matrix
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

In [9]:

#Construct a reverse mapping of indices and movie titles, and drop duplicate titles, if any
indices = pd.Series(df.index, index=df['title']).drop_duplicates()

In [10]:
# Function that takes in movie title as input and gives recommendations 
def content_recommender(title, cosine_sim=cosine_sim, df=df, indices=indices):
    # Obtain the index of the movie that matches the title
    idx = indices[title]

    # Get the pairwsie similarity scores of all movies with that movie
    # And convert it into a list of tuples as described above
    sim_scores = list(enumerate(cosine_sim[idx]))

    # Sort the movies based on the cosine similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    # Get the scores of the 10 most similar movies. Ignore the first movie.
    sim_scores = sim_scores[1:11]

    # Get the movie indices
    movie_indices = [i[0] for i in sim_scores]

    # Return the top 10 most similar movies
    return df['title'].iloc[movie_indices]

In [11]:
indices['The Lion King']

359

In [12]:
cosine_sim[328]

array([0.        , 0.        , 0.00941416, ..., 0.        , 0.        ,
       0.        ])

In [13]:
sorted(list(enumerate(cosine_sim[328])), key=lambda x: x[1], reverse=True)

[(328, 1.0000000000000002),
 (40983, 0.29443590500408345),
 (31960, 0.2773890229170902),
 (29789, 0.25832183771028594),
 (9606, 0.21285690820087053),
 (2241, 0.2044546568777091),
 (26757, 0.19880928918608676),
 (11183, 0.19002281332712131),
 (8398, 0.17701359058405505),
 (1870, 0.17484746644219817),
 (16155, 0.1709991317371793),
 (37201, 0.16690743917751125),
 (28078, 0.1633495093512381),
 (45024, 0.16190034238017417),
 (24915, 0.15834574090542777),
 (18915, 0.15588238271945098),
 (3865, 0.15337203609225847),
 (7569, 0.153187966509478),
 (96, 0.14821832717723296),
 (41318, 0.14717870520355586),
 (8805, 0.1470702136662331),
 (2204, 0.14284999888143676),
 (6488, 0.13670387598432732),
 (1869, 0.1366701399914281),
 (19150, 0.13659915906018164),
 (1739, 0.1356022759942877),
 (38604, 0.13395119351460044),
 (40513, 0.13350955928778768),
 (32060, 0.13262095227833132),
 (35122, 0.13074405117041893),
 (1440, 0.13023245799490926),
 (2257, 0.12803665839924194),
 (26513, 0.1266209701936509),
 (12613, 0.1256214720911724),
 (34232, 0.12394079212392312),
 (330, 0.12135081571763365),
 (24020, 0.12128280412129097),
 (9614, 0.12127265377409821),
 (15753, 0.11976514860691467),
 (19786, 0.11918266789498283),
 (24780, 0.11912175556630321),
 (17828, 0.11730529784602191),
 (6204, 0.1163038249459262),
 (15539, 0.11522795250816059),
 (8891, 0.11486985608450849),
 (3326, 0.11340963519628776),
 (2219, 0.11075800771999204),
 (15497, 0.1100487938438099),
 (4417, 0.10989461692331662),
 (32688, 0.10791841816360886),
 (34982, 0.1071014804443617),
 (3628, 0.10395675432708093),
 (32930, 0.10265153190376242),
 (9285, 0.10264339136273354),
 (43360, 0.10219079109059699),
 (4520, 0.10206687193868737),
 (14691, 0.10174537602403672),
 (8348, 0.10149808917954863),
 (15922, 0.10045510771975755),
 (171, 0.10024008642502824),
 (33081, 0.09926672224963906),
 (30225, 0.09880104373258966),
 (4815, 0.0985385837882498),
 (38214, 0.09790803210332912),
 (4775, 0.09668689414621652),
 (25455, 0.09664306318868868),
 (4827, 0.09561648564841302),
 (23776, 0.09488047752860485),
 (1487, 0.09475864463152599),
 (17712, 0.09457543493397699),
 (26917, 0.09425795312375795),
 (4240, 0.09423251689270189),
 (11811, 0.09379614308356982),
 (41471, 0.09327218169422781),
 (31454, 0.09281651497791962),
 (25791, 0.09263412631962127),
 (41808, 0.09232466560070998),
 (23318, 0.09217931458754315),
 (14002, 0.09157400651356086),
 (35338, 0.0911536341408617),
 (25579, 0.09110712630942429),
 (45244, 0.0910042141383962),
 (31838, 0.09099977986789587),
 (26728, 0.09084761021900538),
 (1130, 0.09042200695573203),
 (27408, 0.08999456328757635),
 (23686, 0.08923670538005297),
 (37147, 0.08861599661151148),
 (1021, 0.08817100628687029),
 (20216, 0.08802301993080873),
 (17125, 0.08786297111594076),
 (19170, 0.08706927192996596),
 (6848, 0.08705547170278112),
 (12474, 0.08677585722908021),
 (22011, 0.08670575276842848),
 (11795, 0.08650800782025457),
 (27909, 0.08645929141487131),
 (18972, 0.08593016234440097),
 (42572, 0.0858648233420989),
 (27363, 0.08495168671782971),
 (26210, 0.08486464931693649),
 (34510, 0.08469800072834137),
 (20085, 0.0845180583965497),
 (16801, 0.08432665030456273),
 (28626, 0.08422676809318724),
 (14591, 0.08394773359540122),
 (6068, 0.08391810558523875),
 (14452, 0.08341082644225782),
 (37004, 0.0832846137894514),
 (24888, 0.08271143005742036),
 (14558, 0.0819302125523095),
 (35049, 0.08185198564923409),
 (30437, 0.08149192539375293),
 (39724, 0.08118742808217005),
 (14794, 0.08093295760351735),
 (4513, 0.08092105946295039),
 (452, 0.08053594890280237),
 (15097, 0.08042224814036786),
 (39248, 0.07891798828430283),
 (1087, 0.07876905663905914),
 (39094, 0.0786904871137432),
 (17678, 0.07764719583435935),
 (40401, 0.07722223556393845),
 (2793, 0.07681419394136232),
 (21187, 0.07653150794508229),
 (17567, 0.07640980376277051),
 (8362, 0.07616500700872506),
 (41605, 0.07586753846869028),
 (32326, 0.07548006674302077),
 (4370, 0.07532924451435387),
 (41028, 0.07519955978497123),
 (11326, 0.07450886074681777),
 (22180, 0.07434194100659272),
 (12881, 0.07426650316294282),
 (9997, 0.07422357884345405),
 (37194, 0.07408655424453142),
 (33869, 0.07407158785640303),
 (18667, 0.07351982314262155),
 (26521, 0.0734146586297187),
 (27181, 0.07334353661658412),
 (2108, 0.07320231697715836),
 (27368, 0.07286798196699715),
 (30613, 0.07251132110390891),
 (10634, 0.07237377727760912),
 (12809, 0.071941698919441),
 (19167, 0.0718601708551736),
 (22109, 0.07176972683192612),
 (29324, 0.07171974860426814),
 (29039, 0.07165712095824915),
 (6843, 0.07164763541477981),
 (33763, 0.0714625124624775),
 (29128, 0.07134079729054751),
 (37009, 0.07116018640556118),
 (41749, 0.07108802881803503),
 (5370, 0.07073659990306674),
 (1868, 0.07072294679618256),
 (30766, 0.07066610474275967),
 (22781, 0.0704533293267728),
 (42983, 0.07039323075536305),
 (32249, 0.0701909817168574),
 (29019, 0.06967018835385393),
 (2087, 0.06965591774727889),
 (32321, 0.06934531192330357),
 (14082, 0.06930433030623642),
 (26032, 0.06922032791097811),
 (5421, 0.06918310748372011),
 (41760, 0.06917015127150264),
 (28342, 0.06909836074407341),
 (14033, 0.06899254662894493),
 (30409, 0.06894168474485807),
 (10543, 0.0685988863098773),
 (8840, 0.06849203990249103),
 (16399, 0.06819887672119056),
 (39381, 0.06804030704149765),
 (15646, 0.06790499728208223),
 (9317, 0.067629434177546),
 (32331, 0.06749762037241407),
 (22568, 0.06745822580340152),
 (24443, 0.0673885117295306),
 (9957, 0.06722020105812342),
 (1786, 0.0671196163793945),
 (22499, 0.0669891223106748),
 (31221, 0.06689591081648864),
 (28955, 0.06656119330120357),
 (22275, 0.06624483118017171),
 (24798, 0.06613731894429813),
 (17470, 0.06604503210872872),
 (26975, 0.06588298010213979),
 (20316, 0.06576829612693086),
 (18065, 0.06564718781288234),
 (38781, 0.06560532486560632),
 (10602, 0.06560251772819625),
 (38883, 0.06550936379408652),
 (3387, 0.06542407231085401),
 (36583, 0.06531048770196624),
 (24187, 0.06528194313457153),
 (43792, 0.06511536590536618),
 (12803, 0.06505498614100398),
 (21347, 0.06502875357231243),
 (4918, 0.06488453604834055),
 (41772, 0.0648380461168513),
 (23760, 0.06481143232624388),
 (18571, 0.06461850751264213),
 (39684, 0.06445624140688547),
 (44609, 0.06445477875305719),
 (30596, 0.06440138626372337),
 (2113, 0.063829601054637),
 (11601, 0.06381636591389268),
 (16497, 0.06361715003299384),
 (42195, 0.06355519206189855),
 (6440, 0.06354794355291812),
 (15137, 0.06346509509816488),
 (41984, 0.06309341320697753),
 (40410, 0.06295243034081298),
 (31788, 0.06292312786423047),
 (44705, 0.06290617071467337),
 (16235, 0.06286933133945545),
 (43068, 0.06283884812054982),
 (19385, 0.06273888056296234),
 (28688, 0.06267168933163712),
 (25481, 0.06259849568961148),
 (13487, 0.06248730637371412),
 (24557, 0.062461638945934234),
 (33645, 0.062347770993167996),
 (14036, 0.06230602956182238),
 (23457, 0.06229805254150825),
 (4824, 0.0622792948982487),
 (17402, 0.06216405639237087),
 (28289, 0.06210236706329792),
 (43748, 0.062052184173010616),
 (19864, 0.06203891171648046),
 (44800, 0.061674664631133594),
 (22367, 0.061502418981632834),
 (38057, 0.061472343038310624),
 (37932, 0.06118051184154784),
 (28638, 0.061152642772703394),
 (23071, 0.06106772717965893),
 (29627, 0.061055720451183945),
 (19483, 0.06105422988338874),
 (9613, 0.060822378202855513),
 (31283, 0.06069711761643487),
 (1217, 0.060646578348122086),
 (8576, 0.060625227717353035),
 (7312, 0.06056714017712937),
 (2499, 0.06051204621751723),
 (4440, 0.060506476392023556),
 (24538, 0.060425525138620026),
 (40452, 0.06027885794401437),
 (29052, 0.060270522656534896),
 (13102, 0.060211849886582035),
 (27422, 0.0601923010427586),
 (27980, 0.060125205179235724),
 (30236, 0.06006840427936898),
 (18383, 0.060065230290332866),
 (38834, 0.05964488664435394),
 (44477, 0.05954413880561815),
 (9513, 0.05945842550390458),
 (44451, 0.05944645123744421),
 (21840, 0.0594046431818047),
 (14683, 0.05930028855259937),
 (15963, 0.05929826793474689),
 (8217, 0.05911960456418663),
 (22087, 0.05908967837009015),
 (24399, 0.05892469304872816),
 (13699, 0.05891168322610195),
 (38776, 0.05887182664088916),
 (27920, 0.05880754106531879),
 (14666, 0.058776872521997155),
 (2030, 0.05864390193906775),
 (17522, 0.058626056913107856),
 (11465, 0.05856141621427663),
 (10819, 0.05853453522094919),
 (17100, 0.05833419398851969),
 (19526, 0.05830376029319165),
 (31113, 0.058273815568646255),
 (2840, 0.05826647278372765),
 (7986, 0.058238037342145554),
 (22866, 0.05820781687193664),
 (19902, 0.05806124351639545),
 (43886, 0.05773445317780791),
 (40927, 0.0576689875902039),
 (5741, 0.05759411101898711),
 (28356, 0.057556585757046363),
 (13673, 0.05754475529053482),
 (30000, 0.057510138074838686),
 (38880, 0.057443023506620616),
 (43896, 0.0574295674937826),
 (40252, 0.05742910114584526),
 (29297, 0.05742688943338449),
 (9409, 0.05731790461226916),
 (29703, 0.05713985432548419),
 (7738, 0.05687627801004971),
 (24933, 0.05683416264973681),
 (25480, 0.05676909898642707),
 (28316, 0.0567240233998008),
 (39151, 0.056609397642292086),
 (3813, 0.05656000751595893),
 (12360, 0.05646247002659527),
 (42207, 0.056424081378606404),
 (4725, 0.05639376296805837),
 (19174, 0.056365957683509986),
 (38101, 0.05629294036890349),
 (41107, 0.05625546714041059),
 (9666, 0.05622616649101062),
 (42974, 0.05615900807139322),
 (18526, 0.056107271910346423),
 (15507, 0.056057622258515155),
 (8352, 0.05594762780206971),
 (30275, 0.05575147107540156),
 (3552, 0.055568235531051786),
 (29524, 0.055553381636987156),
 (28109, 0.055351466715165484),
 (30036, 0.05533555285354739),
 (35215, 0.055229050266260384),
 (44270, 0.0552071553537232),
 (38518, 0.055204243135872785),
 (40715, 0.055193984668826246),
 (9927, 0.05511813997864974),
 (41427, 0.05489717678691184),
 (35358, 0.054824297301069594),
 (3309, 0.05481474311374867),
 (42295, 0.05463434877233338),
 (34574, 0.05453309422425209),
 (39581, 0.054432248090288196),
 (27271, 0.05432954707723675),
 (16298, 0.05432611511304973),
 (39439, 0.054317196551142234),
 (44713, 0.05430296540822018),
 (45270, 0.054295324318461964),
 (27300, 0.054273446246357666),
 (30687, 0.054261365752358195),
 (34083, 0.05417879219104125),
 (30924, 0.05413353462715726),
 (43888, 0.0540630722991287),
 (7060, 0.054055602812325174),
 (15636, 0.05394487798403997),
 (33344, 0.053920599285297105),
 (31751, 0.053897549246997745),
 (5564, 0.0538271465832942),
 (16707, 0.05382444911842005),
 (6340, 0.053732779268657604),
 (43171, 0.05358239824788123),
 (30816, 0.05345546843005923),
 (40443, 0.053429771388639566),
 (2601, 0.0534012016672684),
 (39663, 0.053384559758979294),
 (239, 0.05338096618836154),
 (24590, 0.053371474227677296),
 (42799, 0.05335719991925591),
 (23388, 0.053346859548036446),
 (30143, 0.05325589431829423),
 (24995, 0.053238949204292535),
 (39782, 0.053195294323701736),
 (6752, 0.05318110423407969),
 (37446, 0.053007442646889114),
 (25191, 0.052981172915418005),
 (40427, 0.05287816193946169),
 (4317, 0.0528193451544306),
 (43187, 0.052802786696475895),
 (28809, 0.05276917554477864),
 (9199, 0.05272427067843252),
 (965, 0.05267755434857037),
 (30725, 0.0526314564500348),
 (37707, 0.05261381367610754),
 (44540, 0.05258876004525332),
 (10949, 0.05253482485108585),
 (6668, 0.052448773554960366),
 (40400, 0.052408023718229335),
 (1241, 0.05240721941418427),
 (28817, 0.05236768217959421),
 (3060, 0.05229716967716451),
 (41065, 0.052249079625565055),
 (8583, 0.052245352545086325),
 (1985, 0.0522351555366311),
 (18008, 0.05222219299518575),
 (42278, 0.05221729819740502),
 (12564, 0.052208046903729786),
 (36415, 0.05218972166026372),
 (18632, 0.0521188296785249),
 (3950, 0.052066085978767454),
 (2149, 0.05199122354506834),
 (19791, 0.05193991647455113),
 (19642, 0.05183634979476232),
 (41794, 0.051814705273977045),
 (10520, 0.05180876216465092),
 (44054, 0.05177819691618036),
 (44397, 0.0517390453105239),
 (13376, 0.05166134410513977),
 (34080, 0.051643240072938267),
 (22335, 0.05153888670426662),
 (29570, 0.051517899833148736),
 (20906, 0.05150179952470897),
 (11383, 0.051407313340084124),
 (43862, 0.05138306232166897),
 (1560, 0.05127330953084346),
 (5640, 0.051258794853638975),
 (16820, 0.0511658983535382),
 (32856, 0.05111075162785381),
 (30721, 0.05107106640524312),
 (39620, 0.05106094224152464),
 (30753, 0.05105232810471853),
 (33648, 0.05101525300122456),
 (11260, 0.050854436749355275),
 (41292, 0.05077744550434636),
 (19613, 0.05075175574612316),
 (25478, 0.05071524728143041),
 (13862, 0.05071023292717641),
 (18013, 0.050704189330757474),
 (15988, 0.05066816821534195),
 (33761, 0.050634573163065466),
 (21829, 0.05063442322035131),
 (4231, 0.05060274771941428),
 (7140, 0.050598509597497),
 (26576, 0.05054588585271221),
 (18594, 0.05054315463401586),
 (22427, 0.050445553310226904),
 (5284, 0.05041812515998516),
 (37540, 0.05030736067322702),
 (26101, 0.05024843117024565),
 (14016, 0.05019169443880157),
 (14564, 0.050182302758155835),
 (23159, 0.050149638205106206),
 (19670, 0.050136365794178635),
 (40459, 0.05013217962554342),
 (2679, 0.050130615794374306),
 (19558, 0.050060360882995925),
 (12878, 0.05004572263484979),
 (22052, 0.04998547878903789),
 (18506, 0.04996796115627471),
 (23919, 0.049820759087928615),
 (7221, 0.049815873885960635),
 (6737, 0.04978679748482424),
 (2602, 0.049778789167626424),
 (35008, 0.04973590516234799),
 (35175, 0.049698328377697304),
 (17479, 0.04963219726906089),
 (16084, 0.04962560732989765),
 (27540, 0.04950196891502706),
 (36777, 0.04948452898666407),
 (17331, 0.04946648354742287),
 (38387, 0.04945866851423281),
 (27548, 0.04939251880608642),
 (36766, 0.04938792540781052),
 (38775, 0.04932390398947259),
 (12228, 0.049314307209837746),
 (39886, 0.04930764874495783),
 (41026, 0.04928284585244611),
 (25646, 0.049228630669649845),
 (12594, 0.04922152137837947),
 (6383, 0.04922038085761967),
 (26958, 0.04918196567316949),
 (45229, 0.049146831157430654),
 (30116, 0.0491440551000467),
 (24846, 0.04914245529161196),
 (12619, 0.0490546153852644),
 (40953, 0.04902866554734406),
 (41097, 0.04897232006620123),
 (21679, 0.04896798137790018),
 (27580, 0.048854698450127146),
 (854, 0.048817612830037015),
 (28566, 0.04880225978414647),
 (19051, 0.04877212659542404),
 (5313, 0.048753571617233434),
 (14054, 0.04868010293932865),
 (43645, 0.04866766453566668),
 (20233, 0.04866676175259394),
 (14158, 0.04863408708275201),
 (30791, 0.048630393073983286),
 (28175, 0.048598543996129055),
 (3609, 0.04855366941087858),
 (27566, 0.04853762265130538),
 (29310, 0.048463368143127065),
 (17436, 0.04837498522528788),
 (36312, 0.048355430987405176),
 (25613, 0.04832128842850978),
 (28532, 0.04831072592833304),
 (25607, 0.048290197711647546),
 (22869, 0.048273118967567766),
 (28905, 0.04822387920657842),
 (23425, 0.04821541076929252),
 (1163, 0.0482087489459136),
 (30412, 0.04817771821827722),
 (28214, 0.04811602808534197),
 (2883, 0.04807354857017245),
 (23641, 0.04807316302084661),
 (41785, 0.04798750220517629),
 (10739, 0.0479858484255251),
 (12269, 0.04795848861715696),
 (33862, 0.047949966776602494),
 (13509, 0.047863577395697764),
 (12324, 0.04784504585871513),
 (3269, 0.047790565481870176),
 (43955, 0.04773707169666564),
 (14601, 0.04770635904703944),
 (42798, 0.04769406065906559),
 (44570, 0.04768015097508386),
 (44235, 0.04764959434932906),
 (34197, 0.04763420019286527),
 (8109, 0.04761570912519252),
 (25466, 0.04758712721563206),
 (9147, 0.047521839244645356),
 (12040, 0.04751033030832115),
 (2067, 0.04750507375331996),
 (32226, 0.047330680303383034),
 (12955, 0.04731831780381555),
 (30443, 0.047314714321692555),
 (19719, 0.047278095801788524),
 (4472, 0.047260618826840274),
 (34888, 0.047256054831122565),
 (41131, 0.047247476760588575),
 (43081, 0.04715394604648327),
 (28623, 0.047127393516231554),
 (37831, 0.047124429894699116),
 (29258, 0.04712341819815376),
 (22183, 0.04712211117972761),
 (15201, 0.04701357224431448),
 (38788, 0.04700280425690813),
 (13800, 0.046981244937167495),
 (20459, 0.04695048662195511),
 (11708, 0.04694640857505376),
 (42869, 0.04693366474138727),
 (27720, 0.04691814584536336),
 (12525, 0.04684386079144928),
 (44551, 0.04682501285075608),
 (40628, 0.0467148004639745),
 (10633, 0.046603444506218325),
 (40706, 0.046592432746568574),
 (23098, 0.0465767414576939),
 (38992, 0.04653766812533211),
 (38524, 0.046510498300302516),
 (25565, 0.04649509591335213),
 (22802, 0.046446846295081994),
 (24967, 0.04640011937659918),
 (32363, 0.04637399268995051),
 (8085, 0.0463506694257366),
 (41032, 0.046332035115169624),
 (14964, 0.046314336725657185),
 (5354, 0.04630185057094884),
 (25699, 0.04628654602062732),
 (26457, 0.046274947353082435),
 (42530, 0.04626202196749169),
 (23167, 0.04625550963542346),
 (10651, 0.046241486910845286),
 (9253, 0.04624077457227206),
 (35677, 0.04619668017485258),
 (30196, 0.046110970903517005),
 (43138, 0.04606102886173226),
 (6104, 0.04602363865282486),
 (2683, 0.045995854095826384),
 (34015, 0.045991679351162634),
 (24902, 0.045961043367410165),
 (40006, 0.04592937896841138),
 (43637, 0.045909702218302),
 (27664, 0.04586656663008387),
 (9223, 0.04577302635737872),
 (23991, 0.04576759383637836),
 (6875, 0.04575277731094223),
 (15121, 0.045740379932105876),
 (24174, 0.045730015425558705),
 (32534, 0.04571837637859349),
 (38014, 0.04563149630622974),
 (8792, 0.04561498547225876),
 (17357, 0.04560540861069298),
 (5341, 0.04559178175553828),
 (12483, 0.04552426801883949),
 (36455, 0.04543705278481246),
 (24049, 0.04542743098601881),
 (8102, 0.04541532147465003),
 (31677, 0.04532577010940996),
 (2482, 0.045325586150766664),
 (31793, 0.04530842714336486),
 (30964, 0.045294198093493714),
 (3760, 0.04528430456784029),
 (21545, 0.04513689965919193),
 (29173, 0.04509112153526785),
 (36669, 0.045085226156932744),
 (22451, 0.04508205253237326),
 (1595, 0.04500739685857998),
 (40896, 0.044995946181323604),
 (30434, 0.044993184210051204),
 (44136, 0.04496288755454866),
 (42841, 0.044896060845519455),
 (41966, 0.04486229416531546),
 (21542, 0.044857739550027795),
 (15353, 0.04480044509878567),
 (45064, 0.04473292729069864),
 (3553, 0.04473101659415538),
 (6148, 0.044667614218118226),
 (18233, 0.04466632438867163),
 (24011, 0.04465388193593419),
 (34949, 0.044578952416921856),
 (29994, 0.04457233026459543),
 (24108, 0.04456960813300549),
 (35052, 0.04456960661491876),
 (24380, 0.04454421966153543),
 (44779, 0.04454331579818617),
 (29872, 0.04450460283141817),
 (41207, 0.04445767058374434),
 (32187, 0.04443927847316622),
 (11680, 0.04441919120790609),
 (34333, 0.04437847761430791),
 (27429, 0.04434015971612663),
 (34821, 0.044336447845311655),
 (35775, 0.044316300337103744),
 (38347, 0.04427568652128103),
 (34968, 0.04427419454421952),
 (44469, 0.0442065275150907),
 (44511, 0.04413344154047754),
 (4150, 0.044103879734918396),
 (5856, 0.044078243928073566),
 (42656, 0.044070152485655115),
 (42287, 0.04406747602464499),
 (42771, 0.04400810249519743),
 (13245, 0.04398081147615514),
 (26256, 0.04393558826291137),
 (31687, 0.0439215436194462),
 (3115, 0.04390062741346152),
 (27457, 0.043893054393118844),
 (27670, 0.0438912178160742),
 (27112, 0.04385703301617132),
 (2107, 0.043854006349687696),
 (19239, 0.04374482526836044),
 (31818, 0.043710811154009564),
 (4792, 0.04369074712754785),
 (12311, 0.04362996760231824),
 (2842, 0.043627201023213304),
 (37696, 0.0435432475750218),
 (29685, 0.043539176805913765),
 (44692, 0.04353810033740504),
 (28554, 0.043483973346618986),
 (3364, 0.04347610352219913),
 (26962, 0.0434434533701062),
 (41914, 0.04341637291019523),
 (37054, 0.04336191712069147),
 (1760, 0.04334190767234611),
 (28406, 0.04332928582359744),
 (44767, 0.043269971266286525),
 (36801, 0.04320281918226643),
 (37952, 0.043191061798540736),
 (33050, 0.043157749959769516),
 (13185, 0.0431334990778786),
 (11596, 0.0431028532567406),
 (26100, 0.04308641758102724),
 (3724, 0.04307011776895804),
 (23000, 0.043052928056400944),
 (25978, 0.04304482752586911),
 (18412, 0.043024306846906384),

In [14]:
#Get recommendations for The Lion King
content_recommender('The Lion King')

34682    How the Lion Cub and the Turtle Sang a Song
9353                                The Lion King 1½
9115                  The Lion King 2: Simba's Pride
42829                                           Prey
25654                                 Fearless Fagan
17041                                   African Cats
27933              Massaï, les guerriers de la pluie
6094                                       Born Free
37409                                     Sour Grape
3203                                The Waiting Game
Name: title, dtype: object

# Metadata Based Recommender

In [26]:
# Load the keywords and credits files
cred_df = pd.read_csv('../data/credits.csv')
key_df = pd.read_csv('../data/keywords.csv')

In [27]:
#Print the head of the credit dataframe
cred_df.head()

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862

In [28]:
#Print the head of the keywords dataframe
key_df.head()

      id                                           keywords
0    862  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
1   8844  [{'id': 10090, 'name': 'board game'}, {'id': 1...
2  15602  [{'id': 1495, 'name': 'fishing'}, {'id': 12392...
3  31357  [{'id': 818, 'name': 'based on novel'}, {'id':...
4  11862  [{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...

In [29]:
df[df['id']=='1997-08-20']

,title,genres,runtime,vote_average,vote_count,year,overview,id
19730,NaN,"['carousel productions', 'vision view entertai...",NaN,NaN,NaN,0,Released,1997-08-20

In [30]:
# Function to convert all non-integer IDs to NaN
def clean_ids(x):
    try:
        return int(x)
    except:
        return np.nan

In [13]:
#Clean the ids of df
df['id'] = df['id'].apply(clean_ids)

#Filter all rows that have a null ID
# nan 값을 삭제한다. 
df = df[df['id'].notnull()]

In [37]:
# Convert IDs into integer
df['id'] = df['id'].astype('int')
key_df['id'] = key_df['id'].astype('int')
cred_df['id'] = cred_df['id'].astype('int')

# Merge keywords and credits into your main metadata dataframe
df = df.merge(cred_df, on='id')
df = df.merge(key_df, on='id')

#Display the head of df
df.head()

/tmp/ipykernel_1112755/2304563750.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['id'] = df['id'].astype('int')

,title,genres,runtime,vote_average,vote_count,year,overview,id,cast,crew,keywords
0,Toy Story,"['animation', 'comedy', 'family']",81.0,7.7,5415.0,1995,"Led by Woody, Andy's toys live happily in his ...",862,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...","[{'id': 931, 'name': 'jealousy'}, {'id': 4290,..."
1,Jumanji,"['adventure', 'fantasy', 'family']",104.0,6.9,2413.0,1995,When siblings Judy and Peter discover an encha...,8844,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...","[{'id': 10090, 'name': 'board game'}, {'id': 1..."
2,Grumpier Old Men,"['romance', 'comedy']",101.0,6.5,92.0,1995,A family wedding reignites the ancient feud be...,15602,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...","[{'id': 1495, 'name': 'fishing'}, {'id': 12392..."
3,Waiting to Exhale,"['comedy', 'drama', 'romance']",127.0,6.1,34.0,1995,"Cheated on, mistreated and stepped on, the wom...",31357,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...","[{'id': 818, 'name': 'based on novel'}, {'id':..."
4,Father of the Bride Part II,['comedy'],106.0,5.7,173.0,1995,Just when George Banks has recovered from his ...,11862,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...","[{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n..."

In [38]:
# Convert the stringified objects into the native python objects
from ast import literal_eval

features = ['cast', 'crew', 'keywords', 'genres']
for feature in features:
    df[feature] = df[feature].apply(literal_eval)

In [40]:
#Print the first cast member of the first movie in df
df.iloc[0]['crew'][0]

{'credit_id': '52fe4284c3a36847f8024f49',
 'department': 'Directing',
 'gender': 2,
 'id': 7879,
 'job': 'Director',
 'name': 'John Lasseter',
 'profile_path': '/7EdqiNbr4FRjIhKHyPPdFfEEEFG.jpg'}

In [41]:
# Extract the director's name. If director is not listed, return NaN
def get_director(x):
    for crew_member in x:
        if crew_member['job'] == 'Director':
            return crew_member['name']
    return np.nan

In [42]:
#Define the new director feature
df['director'] = df['crew'].apply(get_director)

#Print the directors of the first five movies
df['director'].head()

0      John Lasseter
1       Joe Johnston
2      Howard Deutch
3    Forest Whitaker
4      Charles Shyer
Name: director, dtype: object

In [19]:
# Returns the list top 3 elements or entire list; whichever is more.
def generate_list(x):
    if isinstance(x, list):
        names = [i['name'] for i in x]
        #Check if more than 3 elements exist. If yes, return only first three. If no, return entire list.
        if len(names) > 3:
            names = names[:3]
        return names

    #Return empty list in case of missing/malformed data
    return []

In [20]:
#Apply the generate_list function to cast and keywords
df['cast'] = df['cast'].apply(generate_list)
df['keywords'] = df['keywords'].apply(generate_list)

In [21]:
#Only consider a maximum of 3 genres
df['genres'] = df['genres'].apply(lambda x: x[:3])

In [22]:
# Print the new features of the first 5 movies along with title
df[['title', 'cast', 'director', 'keywords', 'genres']].head()

,title,cast,director,keywords,genres
0,Toy Story,"[Tom Hanks, Tim Allen, Don Rickles]",John Lasseter,"[jealousy, toy, boy]","[animation, comedy, family]"
1,Jumanji,"[Robin Williams, Jonathan Hyde, Kirsten Dunst]",Joe Johnston,"[board game, disappearance, based on children'...","[adventure, fantasy, family]"
2,Grumpier Old Men,"[Walter Matthau, Jack Lemmon, Ann-Margret]",Howard Deutch,"[fishing, best friend, duringcreditsstinger]","[romance, comedy]"
3,Waiting to Exhale,"[Whitney Houston, Angela Bassett, Loretta Devine]",Forest Whitaker,"[based on novel, interracial relationship, sin...","[comedy, drama, romance]"
4,Father of the Bride Part II,"[Steve Martin, Diane Keaton, Martin Short]",Charles Shyer,"[baby, midlife crisis, confidence]",[comedy]

In [23]:
# Function to sanitize data to prevent ambiguity. It removes spaces and converts to lowercase
def sanitize(x):
    if isinstance(x, list):
        #Strip spaces and convert to lowercase
        return [str.lower(i.replace(" ", "")) for i in x]
    else:
        #Check if director exists. If not, return empty string
        if isinstance(x, str):
            return str.lower(x.replace(" ", ""))
        else:
            return ''

In [24]:
#Apply the generate_list function to cast, keywords, director and genres
for feature in ['cast', 'director', 'genres', 'keywords']:
    df[feature] = df[feature].apply(sanitize)

In [25]:
#Function that creates a soup out of the desired metadata
def create_soup(x):
    return ' '.join(x['keywords']) + ' ' + ' '.join(x['cast']) + ' ' + x['director'] + ' ' + ' '.join(x['genres'])

In [26]:
# Create the new soup feature
df['soup'] = df.apply(create_soup, axis=1)

In [27]:
#Display the soup of the first movie
df.iloc[0]['soup']

'jealousy toy boy tomhanks timallen donrickles johnlasseter animation comedy family'

In [28]:
# Import CountVectorizer
from sklearn.feature_extraction.text import CountVectorizer

#Define a new CountVectorizer object and create vectors for the soup
count = CountVectorizer(stop_words='english')
count_matrix = count.fit_transform(df['soup'])

In [29]:
#Import cosine_similarity function
from sklearn.metrics.pairwise import cosine_similarity

#Compute the cosine similarity score (equivalent to dot product for tf-idf vectors)
cosine_sim2 = cosine_similarity(count_matrix, count_matrix)

In [34]:
# Reset index of your df and construct reverse mapping again
df = df.reset_index()
indices2 = pd.Series(df.index, index=df['title'])

In [37]:
content_recommender('The Lion King', cosine_sim2, df, indices2)

29607                                          Cheburashka
40904                   VeggieTales: Josh and the Big Wall
40913    VeggieTales: Minnesota Cuke and the Search for...
27768                                 The Little Matchgirl
15209             Spiderman: The Ultimate Villain Showdown
16613                            Cirque du Soleil: Varekai
24654                                  The Seventh Brother
29198                                      Superstar Goofy
30244                                              My Love
31179                Pokémon: Arceus and the Jewel of Life
Name: title, dtype: object